.modal-fastview {
    display: flex;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 20%;
    transform: translateX(100%);
    width: 60%;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 15px 0 0 15px;
}

.open-fastview {
    transform: translateX(0);
}

.modal-content-fastview {
    padding: 20px;
    position: relative;
    background-color: transparent;
}

#mainImage {
    margin: 0;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    color: black;
}

.modal-body {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.modal-image {
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 15px 0 0 15px;
}

.modal-image img {
    max-width: 70%;
    height: 70%;
    border-radius: 15px 0 0 15px;
}


.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnails img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}

.modal-info {
    overflow: scroll;
    height: 576px;
    padding: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.modal-info h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.modal-info p {
    margin: 10px 0;
}

.tab-header-fastview, .main-container-fastview {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.tab-container-fastview {
    width: 100%;
}



.product-selection {
    margin: 20px 0;
}

.color-value, .quantity-value {
    font-weight: 300;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    gap: 70px;
}

.product-title {
    font-size: clamp(24px, calc(2rem + ((1vw - 4.28px) * 0.8893)), 41px);
    min-height: 0vw;
    margin: 0;
    text-wrap: nowrap;
}

.product-header .size-chart {
    font-size: clamp(8px, calc(0.5rem + ((1vw - 4.28px) * 0.5929)), 14px);
    min-height: 0vw;
    color: grey;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 200;
}

.product-info {
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.28px) * 0.7905)), 20px);
    min-height: 0vw;
    color: grey;
    margin-bottom: 10px;
    font-weight: 300;
}

.product-grid {
    font-size: clamp(7px, calc(0.4375rem + ((1vw - 4.28px) * 0.3953)), 11px);
    min-height: 0vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 40px;
}

.product-grid-header {
    font-weight: 400;
    padding-bottom: 10px;
}

.product-grid-item {
    padding: 10px 0;
    font-weight: 300;
}

.availability {
    color: green;
}

.availability.unavailable {
    color: red;
}

.quantity, .color {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    width: 100%;
}

.quantity .decrement, .quantity .increment,
.color .decrement, .color .increment {
    cursor: pointer;
    padding: 0 10px;
    user-select: none;
    margin: 0;
    font-weight: 300;
}

.availability-title {
    visibility: hidden;
}

.unavailable {
    color: grey;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: grey;
    border-top: #D9D9D9 2px solid;
    width: 80%;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    gap: 15px;
}

.summary-item:nth-of-type(2) {
    align-items: end;
}

.summary-label {
    font-weight: 300;
    margin: 0;
    font-size: 14px;
}

.summary-quantity, .summary-price {
    font-weight: 600;
    margin: 0;
    font-size: 24px;
    color: black;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-container {
    width: 50%;
    margin: 20px 0 0 0;
}

.tab-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 300;
}

.tab-item.active {
    font-weight: 500;
    border-bottom: 2px solid black;
}

.tab-content {
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.description {
    font-weight: 300;
    font-size: 22px;
}

.characteristics-modal {
    width: 100%;
}

.characteristics-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.characteristics-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.28px) * 0.3953)), 16px);
    min-height: 0vw;
}

.characteristic-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.characteristic-item .label {
    font-weight: 400;
    margin: 0;
}

.characteristic-item .value {
    font-weight: 300;
    margin: 0;
}

.question-photo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0
}

.question-content {
    margin: 0;
}

.question {
    display: flex;
    gap: 10px;
}