.shopping_cards-container {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-title {
  margin-bottom: 0;
}

.categories-title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

.shopping_cards-slider {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
}

.cardslide-prev {
  left: -45px;
}

.cardslide-next {
  right: -45px;
}

.shopping_card-list {
  display: flex;
  gap: 40px;
  overflow-x: scroll;
  width: 90%;
}

.line {
  display: flex;
  flex: 1;
  width: 30vw;
  height: 3px;
  background-color: #d3d3d3;
  margin: 0 20px;
}

.shopping_card-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.shopping_card-image {
  width: 282px;
  height: 468px;
  position: relative;
  overflow: hidden;
}

.main-image {
  z-index: 1;
  opacity: 1;
}

.hover-image {
  z-index: 0;
  opacity: 0;
}

.shopping_card-image:hover .hover-image {
  z-index: 2;
  opacity: 1;
}

.shopping_card-image:hover .main-image {
  z-index: 1;
  opacity: 0;
}

.shopping_card-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fast_view-button {
  font-weight: 200;
  font-size: 18px;
  color: #b0b0b0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  z-index: 6;
  position: relative;
}

.fast_view-button:hover {
  color: white;
  scale: 1.2;
}

.fast_view-button:active {
  scale: 0.9;

}

.shopping_card-description, .card-price, .color-label {
  font-weight: 200;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 4.28px) * 0.9881)), 24px);
  min-height: 0vw;
  text-decoration: none;
  color: black;
}

.card-price {
  font-weight: bold;
}


.color-label {
  color: #5a5a5a;
}
/* Другие ваши стили */

.shopping_card-item {
  position: relative;
  display: flex;
  flex-direction: column;
}


.main-image {
  z-index: 1;
  opacity: 1;
}

.hover-image {
  z-index: 0;
  opacity: 0;
}


.shopping_card-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.shopping_card-image-container {
  position: relative;
  overflow: hidden;
}


.card_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out, z-index 0.5s;
}

.fast_view-container-button {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: larger;
  transition: transform 0.3s ease-in-out;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(100%);
}

.shopping_card-image-container:hover .fast_view-container-button {
  transform: translateY(0);
}

.color-option {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.color-options {
  display: flex;
  gap: 10px;
}


.unique-categories-container {
  padding: 20px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}

.unique-categories-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.unique-categories-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 25px;
  max-width: 1440px;
}

.unique-category-card {
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: #fff;
}

.unique-category-card:hover {
  transform: scale(1.05);
}

.unique-category-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.unique-category-name {
  padding: 10px 0;
  background-color: #fff;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-card-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.shopping_card-list {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.shopping_card-item {
  scroll-snap-align: start;
  flex: 0 0 auto; /* Позволяет карточке иметь фиксированную ширину */
}

.cardslide-prev,
.cardslide-next {
  cursor: pointer;
}

.cardslide-prev:disabled,
.cardslide-next:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.slider-rounds {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.slider-round {
  width: 5px;
  height: 5px;
  background-color: #323232;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.slider-round.active {
  background-color: #6a0dad;
  transform: scale(2);
}

/* Только для мобильной версии */
@media (max-width: 768px) {
  .slider-rounds {
    display: flex;
  }
}

.shopping_cards-container {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

.line {
  display: flex;
  flex: 1;
  width: 30vw;
  height: 3px;
  background-color: #d3d3d3;
  margin: 0 20px;
}

.shopping_cards-slider {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
}

.cardslide-prev,
.cardslide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.cardslide-prev {
  left: -45px;
}

.cardslide-next {
  right: -45px;
}

.shopping_card-list {
  display: flex;
  gap: 40px;
  overflow-x: scroll;
  width: 90%;
  scroll-snap-type: x mandatory;
}

.shopping_card-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.shopping_card-image {
  width: 282px;
  height: 468px;
  position: relative;
  overflow: hidden;
}

.card_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out, z-index 0.5s;
}

.main-image {
  z-index: 1;
  opacity: 1;
}

.hover-image {
  z-index: 0;
  opacity: 0;
}

.shopping_card-image:hover .hover-image {
  z-index: 2;
  opacity: 1;
}

.shopping_card-image:hover .main-image {
  z-index: 1;
  opacity: 0;
}

.shopping_card-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.shopping_card-info div, a {
  margin: 0;
}

.fast_view-button {
  font-weight: 200;
  font-size: 18px;
  color: #b0b0b0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  z-index: 6;
  position: relative;
}

.color-label {
  
}

.fast_view-button:hover {
  color: white;
  scale: 1.2;
}

.fast_view-button:active {
  scale: 0.9;
}

.fast_view-container-button {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: larger;
  transition: transform 0.3s ease-in-out;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(100%);
}

.shopping_card-image-container:hover .fast_view-container-button {
  transform: translateY(0);
}

.color-option {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.color-options {
  display: flex;
  gap: 10px;
}

.favorite-card-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid #d3d3d3;
}

.favorite-card-button svg {
  stroke: #684954;
}

.cardslide-prev:disabled,
.cardslide-next:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.popup-visual {
  display: none;
}

/* Только для мобильной версии */
@media (max-width: 768px) {
  .shopping_card-list {
    gap: 0;
    width: 100%;
  }

  .favorite-card-button {
    display: flex;
  }
  .shopping_card-item {
    flex: 0 0 100%;
  }
  .slider-rounds {
    display: flex;
    gap: 20px;
  }

  .popup-visual {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    background-color: #fefefe;
    padding: 5px;
    display: flex;
  }
}

