.modal-fastview {
    display: flex;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 20%;
    transform: translateX(100%);
    width: 60%;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 15px 0 0 15px;
}

.modal-content-fastview {
    padding: 20px;
    position: relative;
    background-color: transparent;
}

#mainImage {
    margin: 0;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    color: black;
}

.modal-body {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.modal-image {
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 15px 0 0 15px;
}


.modal-image img {
    max-width: 70%;
    height: 70%;
    overflow: visible;
    border-radius: 15px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnails img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}

.modal-info {
    overflow: scroll;
    height: 576px;
    padding: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.modal-info h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.modal-info p {
    margin: 10px 0;
}

.show {
    transform: translateX(0%);
}

.tab-header-fastview, .main-container-fastview {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.tab-container-fastview {
    width: 100%;
}

.tab-item-fastview {
    font-size: 21px
}

.fastview-tab-item {
    font-size: 21px;
}

.fast-view-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
}