/* МЕДИА ЗАПРОСЫ/БРЕИКПОИНТЫ */

/* ПЛАНШЕТЫ/СТАРЫЕ НОУТЫ */
@media screen and (max-width: 1024px) {
  .header__description {
    display: none;
  }

  .footer__list {
    display: block;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .cards__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* МОБИЛКА */

@media screen and (max-width: 768px) {
  .newsletter,
  .header__description,
  .arrow,
  .fast_view-button,
  .footer__list,
  .logo-feedback,
  .zoom-lens,
  .zoom-result,
  .hover-circle,
  .fast_view-container-button,
  .scroll-arrow,
  .modal,
  .login__description,
  .search-container-main,
  .line,
  .color-options {
    display: none;
  }
  .main-images {
    gap: 0;
  }


  .button__purple {
    min-width: 200px;
  }

  .header {
    display: flex;
    position: sticky;
    z-index: 11;
    top: 0;
    background-color: white;
  }

  .search-container-mobile {
    background-color: #821093;
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    padding: 13px;
    width: 100%;
    display: none;
  }

  .footer_container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 0 0 60px 0;
  }

  .header__logo-container {
    height: 50px;
    width: 155px;
    background-size: contain;
  }

  .input-container {
    margin: 0;
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  .mobile-search {
    display: flex;
    margin: 0;
    width: 100%;
    padding: 5px;
  }

  .search {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
  }

  .shopping_card-info {
    align-items: start;
    padding: 0 50px;
  }

  .search-container.icon {
    width: 24px;
    height: 24px;
  }

  .user-dashboard {
    flex-direction: column;
    padding: 5px;
    gap: 20px;
  }

  .profile-section,
  .orders-section,
  .user__info {
    margin: 0;
    width: 100%;
  }

  .profile-section {
    border-bottom: #d9d9d9 2px solid;
  }

  .shopping_card-image {
    width: 179px; 
    height: 355px; 
  }

  .footer-feedback__container,
  .footer__phone-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer__phone-container {
    gap: 5px;
    font-size: 28px;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
  }

  .advantages__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .our_advantages {
    padding: 30px 0;
  }

  .user_interface-mobile {
    display: none;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 7;
    background-color: white;
    padding: 10px;
    bottom: 0;
    left: 0;
  }

  .user__interface-mobile_fix {
    display: flex;
    height: 100vh;
  }

  .header__button-container {
    left: 0;
    height: 32px;
  }

  .shopping_card-list {
    width: 93%;
  }

  .header__cart-container {
    display: flex;
    align-items: center;
  }



  .user_interface-mobile__container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
  }

  .main-nav,
  .feedback__container,
  .header__phone-container {
    display: none;
  }

  .cards__container {
    display: grid;
    margin: 0;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 100px;
  }

  .category svg {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .categories {
    grid-template-columns: repeat(2,1fr);
    row-gap: 25px;
    column-gap: 5px;
  }

  .category p{
    font-size: 12px;
  }


  .categories__title {
    margin: 0;
  }

  .categories_container {
    margin-bottom: 25px;
  }

  .card-table-container {
    flex-direction: column;
  }

  .main-container,
  .product-images {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .product-card {
    margin-top: 55px;
    width: 100%;
    flex-direction: column;
  }

  .thumbnail-container {
    height: auto;
  }

  .main-images {
    display: flex;
    overflow: scroll;
    width: 100%;
  }

  .main-images .main-img {
    width: 100%;
    height: 50vh;
    object-fit: fill;
  }

  .thumbnail-images {
    flex-direction: row;
    overflow: scroll;
    width: 95%;
  }

  .tab-container {
    width: 100%;
  }

  .tab-header {
    flex-direction: column;
  }

  .info-section {
    width: 100%;
    margin: 0;
    background-color: #fff;
  }

  .product-header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .product-info {
    text-align: center;
  }

  .characteristics {
    width: 90%;
    margin: 0 auto;
  }

  .shopping_cards-container {
    padding: 0;
    margin-bottom: 25px;
  }
  .info-section {
    border-radius: 0;
    margin-top: 20px;
  }
  .main-images {
    width: 425px;
  }

  .main-img-container {
    width: 425px
  }
  .image-container {
    max-width: 425px;
    width: 425px;
    min-width: 320px;
  }

  .delivery-info-container {
    margin: auto;
    margin-top: 20px;
  }

  .unique-categories-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .header__login-container{
    display: flex;
    align-items: center;
  }

}

@media (max-width: 425px) {
  .image-container {
      width: 425px;
  }
}

@media (max-width: 375px) {
  .image-container, .main-images {
      width: 375px;
  }
}

@media (max-width: 320px) {
  .image-container, .main-images {
      width: 320px;
  }
}