  /* Карточка товара страница */

  .main-container {
    display: flex;
    gap: 70px;
    padding: 30px;
    justify-content: space-evenly;
  }

  .info-container {
    justify-content: flex-end;
  }

  .product-info-container {
    max-width: 1440px;
  }

  .card-table-container {
    display: flex;
  }

  .product-card {
    display: flex;
    margin: 0;
    gap: 20px;
    align-items: center;
}

.info-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .info-content.open {
    max-height: 1000px; /* или любое значение, которое достаточно для полного отображения контента */
  }

  .info-header:hover {
    text-decoration: underline;
  }

.product-images {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    margin: 0;
}

.main-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.main-images .main-img {
    width: 241px;
    height: 348px;
    object-fit: cover;
    transition: 0.3s;
}

.main-img:hover {
    cursor: pointer;
    filter: brightness(70%);
    position: relative;
    z-index: 3;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    height: 60%;
}

.thumbnail-images .thumb-img {
    width: 100px;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.thumbnail-images .thumb-img:hover {
    filter: brightness(70%);
}

/* Стиль для выбранной миниатюры */
.thumbnail-images .thumb-img.selected {
    position: relative;
}

.thumbnail-images .thumb-img.selected::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}


/* ВЫБОР ТОВАРА */

.product-selection {
    margin: 20px 0;
}

.color-value, .quantity-value {
    font-weight: 300;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    gap: 70px;
}

.product-title {
    font-size: clamp(24px, calc(2rem + ((1vw - 4.28px) * 0.8893)), 41px);
    min-height: 0vw;
    margin: 0;
    text-wrap: nowrap;
}

.product-header .size-chart {
    font-size: clamp(8px, calc(0.5rem + ((1vw - 4.28px) * 0.5929)), 14px);
    min-height: 0vw;
    color: grey;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 200;
}

.product-info {
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.28px) * 0.7905)), 20px);
    min-height: 0vw;
    color: grey;
    margin-bottom: 10px;
    font-weight: 300;
}

.product-grid {
    font-size: clamp(7px, calc(0.4375rem + ((1vw - 4.28px) * 0.3953)), 11px);
    min-height: 0vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 40px;
}

.product-grid-header {
    font-weight: 400;
    padding-bottom: 10px;
}


.product-grid-item {
    padding: 10px 0;
    font-weight: 300;
}

.availability {
    color: green;
}

.availability.unavailable {
    color: red;
}

.quantity, .color {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    width: 100%;
}

.quantity .decrement, .quantity .increment,
.color .decrement, .color .increment {
    cursor: pointer;
    padding: 0 10px;
    user-select: none;
    margin: 0;
    font-weight: 300;
}

.availability-title {
    visibility: hidden;
}

.unavailable {
color: grey;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: grey;
    border-top: #D9D9D9 2px solid;
    width: 80%;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    gap: 15px;
}

.summary-item:nth-of-type(2) {
    align-items: end;
}

.summary-label {
    font-weight: 300;
    margin: 0;
    font-size: 14px;
}

.summary-quantity, .summary-price {
    font-weight: 600;
    margin: 0;
    font-size: 24px;
    color: black;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-container {
    width: 50%;
    margin: 20px 0 0 0;
}

.tab-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 300;
}

.tab-item.active {
    font-weight: 500;
    border-bottom: 2px solid black;
}

.tab-content {
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.description {
    font-weight: 300;
    font-size: 22px;
}

.characteristics {
    width: 40%;
    margin: 0;
}

.characteristics-modal {
    width: 100%;
}

.characteristics-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.characteristics-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.28px) * 0.3953)), 16px);
    min-height: 0vw;
}

.characteristic-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.characteristic-item .label {
    font-weight: 400;
    margin: 0;
}

.new-title {
    text-transform: uppercase;
}

.characteristic-item .label:nth-of-type(2) {
    width: 60%;
}

.characteristic-item .value {
    font-weight: 300;
    margin: 0;
}

.main-container:last-of-type {
    justify-content: end;
}

.info-section {
    width: 467px;
    background-color: #EDEDED;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 60px auto 0;
}

.info-item{
    width: 100%;
    margin: 0 0 0 0;
}

.info-header {
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.info-content p, a {
    font-weight: 300;
    font-size: 14px;
}

.actual-info {
    position: relative;
    margin: 0;
}

.arrow-actual, .arrow-payment, .arrow-delivery, .payment-options, .delivery-info {
    margin: 0;
}

.info-content {
    max-height: 0;
    opacity: 1;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

.info-content p {
    margin: 10px 0;
}

.info-content a {
    color: blue;
    text-decoration: underline;
}

.modal-image-product {
    height: 100%;
    width: 100%;
    border-radius: 35px;
    transition: 0.3s;
}

.modal-content-productcard {
    height: 800px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 35px;
    padding: 10px;
    justify-content: space-evenly;
    transition: 0.3s;
}

.modal-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.modalarrow {
    color: black;
    background-color: transparent;
    border: none;
}

.modalarrow:hover {
    color: purple;
    cursor: pointer;
    scale: 1.2;
}

.modalarrow:active {
    scale: 0.9;
}

.close-modal {
    color: white;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 15px;
    top: 0;
    transition: 0.3s;
}

.close-modal:hover {
    scale: 1.2;
}

.hover-circle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #5b0f67;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    margin: 0;
    left: -50px;
    border: white 3px solid;
}

.circle:hover {
    background-color: #480c51;
}

.hover-modal {
    width: 200px;
    display: none;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 4;
    left: -50px;
}

.hover-circle:hover .hover-modal {
    display: flex;
    opacity: 1;
    flex-direction: column;
    gap: 5px;
}

.hover-modal img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.view-product-link {
    background-color: #5b0f67;
    color: white;
    font-size: 14px;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    font-weight: 300;
    min-height: 0vw;
    cursor: pointer;
    text-decoration: none;
}

.view-product-link:hover {
    background-color: #480c51;
}

.modal-add-product {
    font-size: 12px;
    font-weight: 200;
}

.image-container {
    position: relative;
    display: flex;
}